{% extends "default.html.twig" %}

{% block title %}SHOP
{% endblock %}

{% block stylesheet %}
{# <link href="/../public/css/shop.css" rel="stylesheet"> #}


{% endblock %}

{% block header %}
<h3>test home</h3>
{% endblock %}

{% block body %}
<h1>SHOP</h1>

<div id="pokemonList"></div>

{# <button id="selectRandomCards">Sélectionner 10 cartes au hasard</button> #}

<form action="/shop" method="post">
    <button id="selectRandomCards5" name="pack5" type="submit">Acheter un pack contenant 5 cartes</button>
</form>

<button id="selectRandomCards10" name="pack10">acheter un pack contenant 10 cartes</button>
<button id="selectRandomCards15" name="pack15">acheter un pack contenant 15 cartes</button>


{# <script src="/../public/js/script.js"></script> #}
<script src="/../public/js/shop.js"></script>


{% endblock %}



{% block footer %}{% endblock %}