{% extends "default.html.twig" %}

{% block title %}SHOP
{% endblock %}

{% block stylesheet %}
{# <link href="/../public/css/shop.css" rel="stylesheet"> #}


{% endblock %}

{% block header %}
<h3>test home</h3>
{% endblock %}

{% block body %}
<h1>SHOP</h1>

<div id="pokemonList"></div>

<button id="selectRandomCards">Sélectionner 10 cartes au hasard</button>

{# <script src="/../public/js/script.js"></script> #}
<script src="/../public/js/shop.js"></script>


{% endblock %}



{% block footer %}{% endblock %}