{% block title %}SHOP
{% endblock %}

{% block stylesheet %}
<link href="/../public/css/shop.css" rel="stylesheet">
{% endblock %}

{% block header %}
<h3>test home</h3>
{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<form action="/shop" method="post">
    <button id="selectRandomCards5" name="pack5" type="submit">Acheter un pack contenant 5 cartes</button>
</form>

<form action="/shop" method="post">
    <button id="selectRandomCards10" name="pack10" type="submit">acheter un pack contenant 10 cartes</button>
</form>

<form action="/shop" method="post">
    <button id="selectRandomCards15" name="pack15" type="submit">acheter un pack contenant 15 cartes</button>
</form>
{% endblock %}
{% block footer %}{% endblock %}