{% block title %}login
{% endblock %}

{% block stylesheet %}
<link href="/../public/css/login.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<div class="container">
    <h2>Welcome back !</h2>
    <form action="/login" method="post">
        <label for="email">Email:</label>
        <input type="text" name="email" placeholder="you@mail.com" required>

        <label for="passwordConnexion">Password</label>
        <input type="password" name="passwordConnexion" placeholder="password" required>
        <div class="center">
            <button type="submit" name="submit" id="loggin" value="Login">Login</button>
        </div>
    </form>
</div>
{% endblock %}

{% block footer %}{% endblock %}