
{% block title %}login
{% endblock %}

{% block stylesheet %}
<link href="/../public/css/login.css" rel="stylesheet">
{% endblock %}


{% block body %}
{% include 'header.html.twig' %}
</button>
<div class="container">
    <form action="/login" method="post">
        <label for="email">email:</label>
        <input type="text" name="email" required>

        <label for="passwordConnexion">Mot de Passe</label>
        <input type="password" name="passwordConnexion" required>

        <input type="submit" name="submit" value="submit">
    </form>
</div>
{% endblock %}

{% block footer %}{% endblock %}