{% extends "default.html.twig" %}

{% block title %}register
{% endblock %}

{% block stylesheet %}
    <link href="/../public/css/login.css" rel="stylesheet">
{% endblock %}

{% block header %}
	<h3>test register</h3>
{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}{% endblock %}
