{% block title %}profil
{% endblock %}

{% block stylesheet %}
    <link href="/../public/css/profil.css" rel="stylesheet">
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<h3>test profil</h3>


{% endblock %}

{% block footer %}{% endblock %}
