{% extends "default.html.twig" %}

{% block title %}profil
{% endblock %}

{% block stylesheet %}
<link href="/../public/css/profil.css" rel="stylesheet">
{% endblock %}

{% block header %}
<h3>test profil</h3>
{% endblock %}

{% block body %}
<form action="/" method="post">
    <input type="submit" name="logOut" value="LogOut">
</form>
<button>
    <a href="/">home</a>
</button>
<button>
    <a href="/register">register</a>
</button>
<button>
    <a href="/login">login</a>
</button>
<button>
    <a href="/shop">shop</a>
</button>

<div class="test">
    {% for pack in readPacksName %}
    {% if pack.isOpen == 0 %}
    <div class="test2">
        <form action="/profil" method="post">
            <input type="hidden" name="pack_name" value="{{ pack.name }}">
            <button type="submit" name="open_pack">{{ pack.name }}</button>
        </form>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}

{% block footer %}{% endblock %}