{% extends "default.html.twig" %}

{% block title %}profil
{% endblock %}

{% block stylesheet %}
    <link href="/../public/css/profil.css" rel="stylesheet">
{% endblock %}

{% block header %}
	<h3>test profil</h3>
{% endblock %}

{% block body %}
<form action="/" method="post">
    <input type="submit" name="logOut" value="LogOut">
</form>
{% endblock %}

{% block footer %}{% endblock %}
