{% extends "default.html.twig" %}

{% block title %}home

{% endblock %}
{% block stylesheet %}
<link href="/../public/css/home.css" rel="stylesheet">
{% endblock %}

{% block header %}
<header>
    <a href="/" style="text-decoration: none; color: inherit;">
        <h3>TCG Pokemon</h3>
    </a>
    <div class="buttons">
        <a href="/profil"><button>profil</button></a>
        <a href="/register"><button>register</button></a>
        <a href="/login"><button>login</button></a>
        <form action="/" method="post">
            <input type="submit" name="logOut" value="LogOut">
        </form>
    </div>
</header>
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}{% endblock %}
