
{% block title %}home

{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="public/css/header.css">
<link rel="stylesheet" href="public/css/home.css">
{% endblock %}

{% block header %}
{% include 'header.html.twig' %}



{% block body %}
<div class="encadre">
    <h2>Why subscribe to TGC Pokemon </h2>
    <p> - 2 free mega booster</p>
    <p> - 2 booster packs per month</p>
    <p> - 1 pikachu card</p>
</div>
{% endblock %}
{% endblock %}



{% block footer %}{% endblock %}