{% block title %}home

{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="public/css/header.css">
<link rel="stylesheet" href="public/css/home.css">
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<script src="/../public/js/shop.js"></script>

<div class="encadre">
    <h2>Why subscribe to TGC Pokemon </h2>
    <p> - 2 free mega booster</p>
    <p> - 2 booster packs per month</p>
    <p> - 1 pikachu card</p>
</div>

{# <div id="pokemonList"></div>
<script src="/../public/js/script.js"></script> #}

{% endblock %}
{% block footer %}{% endblock %}