<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{% block title %}{% endblock %}
	</title>
	{% block stylesheet %}
	<!-- styles -->

	{% endblock %}
</head>

<header>
	{% block header %}{% endblock %}
</header>

<body>
	{% block body %}{% endblock %}
</body>

<footer>
	{% block footer %}{% endblock %}
</footer>

</html>