
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Example</title>
    <!-- Assurez-vous d'inclure le CSS pour FontAwesome si vous utilisez des icônes fa -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="public/css/header.css">
    
    
</head>


{% block content %}

<header>
    <a href="/" style="text-decoration: none; color: inherit;">
        <h3>TCG Pokemon</h3>
    </a>
    <div class="buttons">
        {% if isConnected %}
        <a href="/profil"><button>profil</button></a>
        <a href="/shop">Shop</a>
        <form action="/" method="post">
            <button type="submit" name="logOut" class="buttons__button">LogOut</button>
        </form>
        {% else %}
        <a href="/register"><button>register</button></a>
        <a href="/login"><button>login</button></a>
        {%endif%}
    </div>
</header>
{% endblock %}