{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Example</title>
    <!-- Assurez-vous d'inclure le CSS pour FontAwesome si vous utilisez des icônes fa -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="public/css/header.css">
</head>

<body>
    {% if isConnected %}
    <!-- En-tête pour utilisateur connecté -->
    <div class="navbar">
        <a href="/"><img src="./../../../src/public/img/pokedex-removebg-preview 1.png" alt="">Home</a>
        <a href="/shop">Shop</a>
        <a href="/profil"><i class="far fa-user fa-3x"></i></a>
        <form action="/" method="post">
            <input action="/" type="submit" name="logOut" value="LogOut">
            <button class="boutton-header-logout"><a href="/" name="logOut">Logout</a></button>
        </form>
    </div>
    {% else %}
    <!-- En-tête pour utilisateur non connecté -->
    <div class="navbar">
        <a href="/">Home</a>
        <div class="right">
            <button class="boutton register"><a href="/register">Register</a></button>
            <button class="boutton login"><a href="/login">Login</a></button>
        </div>

    </div>
    {% endif %}
</body>

</html>
{% endblock %}